[submodule "coreboot"]
	path = coreboot
	url = https://github.com/fail0verflow/switch-coreboot.git
[submodule "shofel2"]
	path = shofel2
	url = https://github.com/cmsj/shofel2.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/fail0verflow/switch-u-boot.git
[submodule "linux"]
	path = linux
	url = https://github.com/fail0verflow/switch-linux.git
[submodule "imx_usb_loader"]
	path = imx_usb_loader
	url = https://github.com/boundarydevices/imx_usb_loader.git
[submodule "aarch64_toolchain"]
	path = aarch64_toolchain
	url = https://github.com/cmsj/aarch64_toolchain_docker
[submodule "ubuntu_builder"]
	path = ubuntu_builder
	url = https://github.com/cmsj/nintendo-switch-ubuntu-builder.git
